<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      h3, p{
        text-align: left;
        padding-left: 30%;
      }
      button{
        font-size: 15px;
        padding-right: 20px;
        padding-left: 20px;
      }
    </style>
    <h2>[[prop1]]</h2>
    <section> 
      <h3>[[label]]</h3>
      <p>[[lorem]] imperum imsup text info data dulcesita :D</p>
      <h3>[[label]]</h3>
      <p>[[lorem]] imperum imsup text info data</p>
      <h3>[[label]]</h3>
      <p>[[lorem]] imperum imsup text info data</p>
    </section>
    <button>Enviar</button>

  </template>

  <script>
    /**
     * `information-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation'
          },
          label: {
            type: String,
            value: 'Label'
          },
          lorem:{
            type: String,
            value:'Lorem'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
